.ItemGroupList {
    display: flex;
    flex-direction: row;

    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.ItemGroup{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    min-width: 120pt;
}
