.ItemGroupList {
    display: flex;
    flex-direction: row;

    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.ItemGroup{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    width: 180px;

    h2 {
        font-size: 24pt;
        font-weight: 500;
    }
}

.Item {
    font-size: 18pt;
    font-weight: 400;
}
