$theme-danger: rgb(255, 0, 0);


.alert{

    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

    border: solid 1px black;
    text-align: center;
    
    max-width: 600px;
    margin: 20px;
    padding: 2em;

    font-size: 14pt;

    color: rgba(0, 0, 0, 0.75);

    &-danger{
        border-color: $theme-danger;
        background-color: transparentize($theme-danger, 0.9);
    }

    button {
        font-size: 18pt;
        border-style: solid;
        padding: 0.25em 0.5em;
        border-width: 1px;
        cursor: pointer;
        border-color: rgba(0, 0, 0, 0.2);
    }
}