.App-header{
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 48pt;
    
    background-color:hsla(242, 14%, 29%, 1);
    color:darken( rgba(255, 255, 255, 1), 5 );
    padding: 0.5em;
    font-weight: 100;
}